body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
  justify-content: center;
}

h1, p, img {
  width: 90%;
  margin: 10 auto;
  display: flex;
  justify-content: space-around;
}

p {
  padding: 20px;
}

nav {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

figcaption {
  font-size: 12px;
}

#details {
  clear: both;
  background-color: red;
  margin: 0 auto;
  display: flex;
}

#details div {
  
}


